html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.col {
    text-align: center;
}

.padding {
    padding: 20px;
}

.center {
    text-align: center;
}


/*.vertical-text {
    writing-mode: Vertical-LR;*/ /* Sets vertical writing mode */
/*text-orientation: mixed;*/ /* Ensures proper rendering of text orientation */
/*transform: rotate(180deg);
}*/

.col-5 {
    padding: 20px;
    text-align: center;
}


.bordered-grid {
    border: 1px solid #000;
}

    .bordered-grid .row {
        border-bottom: 1px solid #000;
    }

    .bordered-grid .col {
        border-right: 1px solid #000;
    }

    .bordered-grid .col-5 {
        border-right: 1px solid #000;
    }

    .bordered-grid .col-2 {
        border-right: 1px solid #000
    }

    .bordered-grid .row:last-child {
        border-bottom: none;
    }

    .bordered-grid .col:last-child {
        border-right: none;
    }

    .bordered-grid .col-5:last-child {
        border-right: none;
    }




