@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <h1>The 7 Habits of Highly Effective People To-Do List</h1><br />

    <p>
        In the book, "The 7 Habits of Highly Effective People", The author, Steven Covey talks about the habit of
        “Putting First Things First”, and suggests that Tasks on the To Do list be broken out into four
        Quadrants.
    </p><br />

    <ul>
        <li> Quadrant I: Important / Urgent </li>
        <li> Quadrant II: Important / Not Urgent </li>
        <li> Quadrant III: Not Important / Urgent </li>
        <li> Quadrant IV: Not Important / Not Urgent </li>
    </ul><br />

    <p>You can add a task to your to-do list <a asp-controller="Home" asp-action="CreateTask">here</a></p>
    <p>After you have added to your to-do list, you can see and manage your to-do list <a asp-controller="Home" asp-action="Quadrants">here</a></p>
    <br />

    <p>Find more about Steven Covey and his book:</p>
    <br />

    <a href="https://www.franklincovey.com/the-7-habits/"><img src="~/img/sevenhabits.jpg" alt="7 Habits Book" class="img-fluid" style="max-height: 250px;" /></a>
    <br />
    <br />
	<a href="https://www.franklincovey.com/the-7-habits/">FranklinCovey.com</a><br>

</div>